body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

:root {
  --ming:#3C6E71;
  --gainsboro:#D9D9D9;
  --white:#FFFFFF;
  --jet:#353535;
  --indigo-dye: #284B63;
}

*
{
  background: var(--white);
}

a {
  background: none;
}

p {
  font-size: 20px;
  color: var(--ming);
  font-weight: bold;
  background-color: var(--gainsboro);
  text-align: center;
}

h1 {
  margin: auto 35px; 
  padding: 10px;
  color: var(--jet);
  font-weight: bold;
}

#header {
  display: flex;
  margin-left: 5px;
}

#navigation {
  align-items: flex-end;
  font-size: 30px;
  text-decoration: none;
  align-content: center;
}

#navigation a {
  color: var(--ming);
  padding-left: 1em;
  font-weight: bold;
  text-decoration: none;
  text-shadow: 1px 1px 2px var(--jet);
}

.card {
  background-color: var(--gainsboro);
  border-radius: 5px;
  height: 400px;
  margin: 2rem;
  position: relative;
  width: 400px;
  box-shadow: 0 2px 2px var(--jet), 0 6px 12px var(--jet);
}

.card .img-container {
  height: 75%;
  overflow: hidden;
  text-align: center;
  border-radius: 10px;
  background-color: var(--gainsboro);
}

.card .img-container img {
  width: 100%;
  padding: 25px;
  margin-bottom: 20px;
  background-color: var(--gainsboro);
}

.card .content {
  font-size: 18px;
  background-color: var(--gainsboro);
  color: var(--ming);
  font-weight: bold;
  text-align: center;
}

#project-icon {
  background-color: var(--gainsboro);
  padding: 5px;
}

#topics {
  font-size: small;
  font-style: italic;
  color: var(--jet);
}

#card-title {
  margin-top: 10px;
  color: var(--jet);
  text-shadow: 1px 1px 6px var(--indigo-dye);
}

.wrapper {
  padding-top: 50px;
  justify-content: space-around;
  height: 100%;
  display: flex;
  overflow: auto;
  flex-flow: row wrap;
  padding: 10px;
  align-content: flex-start;
}

#footer {
  padding: 5px;
  margin-top: 10px;
}

.icon {
  padding: 10px;
}

#about-section {
  margin: 2em;
}

#about-section p {
  background-color: var(--white);
  color: var(--jet);
}

#contact-section {
  justify-content: center;
  margin: 20px;
  margin-left: 10em;
  margin-right: 10em;
}

#front-back ul {
  list-style-type: none;
}

#front-back ul li {
  list-style-type: none;
}

#front-back h2 {
  color: var(--jet);
}

#front-back p {
  background-color: var(--white);
}

#resume p {
  background-color: var(--white);
  color: var(--jet);
  margin-top: 5px;
}

#footer {
  background-color: var(--jet);
}

#footer .icon {
  background-color: var(--jet);
  margin-top: 20px;
}

#footer p {
  background-color: var(--jet);
  margin-top: 8px;
}

#footer a {
  text-decoration: none;
  color: var(--ming);
}

#react-icon {
  background-color: var(--jet);
}